{% extends "EduScheduleSite/base.html" %}
{% load compress %}
{% block title %}Terms of service - EduSchedule{% endblock %}
{% block content %}
{% compress css inline %}
<style type="text/css">
#content {
	padding-top:30px;
}
</style>
{% endcompress %}
<div class="container" id="content">
<h3>Terms of service</h3>
<hr />
<p>Thank you for using EduSchedule!</p>
<p>By using the services provided by EduSchedule on {{ domain }} (the "SERVICE") or by visiting the EduSchedule website at {{ domain }} (the "WEBSITE"), you agree to the following terms.</p>
<br />
<h5>1. Acceptable use</h5>
<p>EduSchedule is provided as a free service. By using the SERVICE or visiting the WEBSITE, you agree that you will not abuse or misuse, by any means, the SERVICE or WEBSITE or any of its users, or use the SERVICE or WEBSITE for any unintended purposes. You agree that service may be refused or suspended at the discretion of the server administrator if this policy is violated.</p>
<br />
<h5>2. Privacy and security</h5>
<p>EduSchedule is committed to protecting your privacy. The information you store through the SERVICE is protected using available technical means and is not shared with other parties. If the privacy of the SERVICE is of concern, you may download the freely-licensed EduSchedule software for use on your own server.
<br />
The developers of EduSchedule take the security of the EduSchedule software seriously. If you believe you have found a security issue, please do not report it publicly; instead, contact the developers directly. Contact information is available <a href="{% url 'EduScheduleSite:contact' %}">here</a>.
</p>
<br />
<h5>3. Disclaimer of warranties</h5>
<p>THE SERVICE AND WEBSITE ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF AVAILABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN NO EVENT SHALL THE PROVIDERS OF THE SERVICE AND THE WEBSITE BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SERVICE OR WEBSITE.</p>
<br />
<h5>4. Changes to the terms</h5>
<p>These terms may be changed at any time without prior notice. If changes are made, they will be found on this page.</p>
<br />
</div>
{% endblock %}