{% extends "website/base.html" %}
{% load compress %}
{% load static %}

{% block content %}

{% compress css inline %}
<style type="text/css">
html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #f5f5f5;
}

.msg-password {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
  text-align: center;
}


</style>
{% endcompress %}

<div class="msg-password">
<img class="mb-4" src="{% static "website/img/logo.svg" %}" alt="EduSchedule" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">{% block title %}Password reset complete{% endblock %}</h1>
	<div class="alert alert-info" role="alert">
	<p>Your password has been changed successfully.</p>
	<p><a href="{% url 'login' %}">Return to the sign-in page</a></p>
	</div>
</div>
{% endblock %}