{% extends "website/base.html" %}
{% load compress %}
{% load static %}

{% block content %}

{% compress css inline %}
<style type="text/css">
html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #f5f5f5;
}

.msg-password {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
  text-align: center;
}


</style>
{% endcompress %}

<div class="msg-password">
<img class="mb-4" src="{% static "website/img/logo.svg" %}" alt="EduSchedule" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">{% block title %}Password reset link sent{% endblock %}</h1>
	<div class="alert alert-info" role="alert">
	<p>If an account exists with the email address you provided, you should receive a link to reset your password shortly.</p>
	<p>If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
	</div>
</div>
{% endblock %}